[[source]]
url = "https://pypi.org/simple"
name = "pypi"
verify_ssl = true

[dev-packages]
ipython = "*"

[packages]
numpy = "*"
tensorflow-gpu = "==1.14.0"
keras = "==2.2.4"
pillow = "*"
scikit-image = "*"
tqdm = "*"
dataclasses = "*"
scikit-learn = "*"
keras-retinanet = "*"
kaggle = "*"
ipython = "*"
kaggle-cli = "*"

[requires]
python_version = "3.6"

[pipenv]
allow_prereleases = true
