[[source]]
url = "https://pypi.org/simple"
name = "pypi"
verify_ssl = true

[dev-packages]
ipython = "*"

[packages]
numpy = "*"
tensorflow-gpu = "==1.14.0"
keras = "*"
pillow = "*"
scikit-image = "*"
tqdm = "*"
dataclasses = "*"
keras-retinanet = "*"

[requires]
python_version = "3.6"

[pipenv]
allow_prereleases = true
